@import './customVars.less';

// Layout
@layout-header-background: @theme-color-gray;
@layout-body-background: @theme-color-gray;
@layout-footer-background: @theme-color-gray;

// Fonts
@font-family: Barlow, Roboto, sans-serif;
