@import './customVars.less';

// Layout
@layout-header-background: @theme-color-gray;
@layout-body-background: @theme-color-gray;
@layout-footer-background: @theme-color-gray;
@layout-header-height: 150px;

// Fonts
@font-family: Barlow, Roboto, sans-serif;

// Buttons
@btn-border-radius-base: 8px;
