@import './customVars.less';

// Colors
@primary-color: @theme-color-green;
@success-color: @theme-color-green; // success state color
@warning-color: @theme-color-yellow; // warning state color
@error-color: @theme-color-orange; // error state color

// Layout
@body-background: @theme-color-gray;
@layout-header-background: @theme-color-gray;
@layout-body-background: @theme-color-gray;
@layout-footer-background: @theme-color-gray;
@layout-header-height: 150px;
@layout-header-padding: 0 @layout-side-padding 0 @layout-side-padding;
@modal-header-title-font-size: @font-size-lg;
@modal-header-padding: @padding-lg;
@modal-footer-padding-horizontal: @padding-lg;
@modal-footer-padding-vertical: @padding-lg;

// Fonts
@font-family: Barlow, Roboto, sans-serif;
@font-size-base: 16px;

// Borders
@border-radius-base: 6px;

// Cards
@card-actions-background: transparent;
